<%- provide(:container_size, "col-md-6 col-lg-4") %>
<div class="display-6 mb-3">Change Password</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form class="form">

    <div class="mb-3">
      <%= f.label :password, "New Password", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <div id="passwordHelp" class="form-text">We'll never share your email with anyone else.</div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, "Confirm New Password", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <button type="submit" class="btn btn-success">Change Password</button>

  </form>
<% end %>