<% if @input.present? %>
  <div class="mt-5">
    <div class="fs-3 mt-5 mb-1">Results:</div>
    <div class="row">
      <% @results.each do |code, data| %>
        <div class="col-sm-6 col-lg-4 mb-3">
          <div class="fs-5 fw-bold">
            <%= "#{data[:value]} #{code}" %>
            <% if data[:total].present? %>
              -
              <%= "#{number_to_currency(data[:total])}" %>
            <% end %>
          </div>
          <div class="fs-6">
            <% if data[:error].present? %>
              <li><%= data[:error] %></li>
            <% end %>
            <% if data[:output].present? %>
              <% data[:output].each do |output| %>
                <% if output.is_a?(String) %>
                  <li><%= "#{output}" %></li>
                <% else %>
                  <% if output[:quantity] > 0 %>
                    <li><%= "#{output[:quantity]} x #{output[:bundle]} - #{number_to_currency(output[:price] * output[:quantity])}" %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>